.container{
    display: flex;
    background-color:gray;
    padding: 30px;
    height: 600px;

    /* flex-direction: column; */
    /* flex-direction: row; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row-reverse; */

    /* flex-wrap: wrap; */
    /* flex-wrap: no-wrap; */

    /* justify-content: start; */
    /* justify-content: center; */
    /* justify-content: end; */
    /* justify-content: space-around; */
    /* justify-content: space-between; */

    /* align-items: start; */
    /* align-items: center; */
    /* align-items: end; */
    /* align-content: space-between; */
    /* align-content: space-around; */

}

.container > div {
    background-color:lightgray;
    margin: 10px;
    padding: 30px;
    border: 1px black solid;
}
